# Clave de la API de Gemini
# Se obtiene la Key desde Google AI Studio
GEMINI_API_KEY=""

# Credenciales de correo electrónico
# La contraseña debe ser una contraseña de aplicación que proporciona Google
# para permitir el acceso a aplicaciones de terceros.
PASSWORD_EMAIL=""

EMAIL_ADDRESS_FROM=""
EMAIL_ADDRESS_TO=""